<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :fullname, class: 'hidden' %>
  <%= f.text_field :fullname, placeholder: 'Full Name' %>

  <%= f.label :email, class: 'hidden' %>
  <%= f.email_field :email, :autofocus => true, placeholder: 'Email' %>

  <%= f.label :location, class: 'hidden' %>
  <%= f.text_field :location, placeholder: 'Location' %>

  <%= f.label :avatar %>
  <%= f.file_field :avatar, placeholder: 'Avatar' %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.label :password, class: 'hidden' %> <i class='hidden'>(leave blank if you don't want to change it)</i>
  <%= f.password_field :password, :autocomplete => "off", placeholder: "New Password (leave blank if you don't want to change)" %>

  <%= f.label :password_confirmation, class: 'hidden' %>
  <%= f.password_field :password_confirmation, placeholder: "New Password Confirmation" %>

  <%= f.label :current_password, class: 'hidden' %> <i class="hidden">(we need your current password to confirm your changes)</i>
  <%= f.password_field :current_password, placeholder: "Current Password (for confirmation)" %>

  <div><%= f.submit "Update", class: 'button' %></div>
<% end %>

<h3 class="hidden">Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
