<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :username, class: 'hidden' %>
  <%= f.text_field :username, :autofocus => true, placeholder: 'Username' %>

  <%= f.label :email, class: 'hidden' %>
  <%= f.email_field :email, placeholder: 'Email' %>

  <%= f.label :fullname, class: 'hidden' %>
  <%= f.text_field :fullname, placeholder: 'Full Name' %>

  <%= f.label :location, class: 'hidden' %>
  <%= f.text_field :location, placeholder: 'Location' %>

  <%= f.label :avatar %>
  <%= f.file_field :avatar, placeholder: 'Avatar' %>

  <%= f.label :password, class: 'hidden' %>
  <%= f.password_field :password, placeholder: 'Password' %>

  <%= f.label :password_confirmation, class: 'hidden' %>
  <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>

  <%= f.submit "Sign Up", class: 'button' %>
<% end %>

<%= render "devise/shared/links" %>
