<aside class="user-profile">
  <%= image_tag @user.avatar.url %>
  <h1><%= @user.fullname %></h1>
  <p class="username"><%= @user.username %></p>
  <p class="user-location"><%= @user.location %></p>
</aside>

<ul id="snaps-container" class="user-snaps">
  <%= render partial: 'shared/snaps', locals: { snaps: @user.snaps.order("created_at DESC") } %>
</ul>