<%= image_tag @snap.image.url, class: "full-image" %>
<section class="snap-section">
  <header><h1><%= @snap.user.username if @snap.user %></h1></header>
  <p><%= @snap.description %></p>
  <footer>
    <% @snap.tags.each do |tag| %>
      <span class="snap-tag"><%= link_to tag.text, tag_path(tag.id) %></span>
    <% end %>
  </footer>
</section>

<%= form_tag charges_path do %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-amount="1500"
    data-name="Snappygram"
    data-description="<%= @snap.user.username %>'s Snap ($15.00)"
    data-email=<%= current_user.email %>
    data-image='/assets/single-03.png',
    data-label='Buy! Buy! Buy!'>
  </script>
<% end %>