<!DOCTYPE html>
<html>
<head>
  <title>Snappygram</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <%= image_tag "single-03.png" %>
    <%= link_to 'Snappygram', root_path, id: "logo" %>
    <ul class="user-links">
      <% if user_signed_in? %>
        <li><%= link_to 'New Snap', new_snap_path, class: 'button' %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>
    </ul>
  </header>
  <main>
    <% if notice %>
      <p class="flash notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="flash alert"><%= alert %></p>
    <% end %>
    
    <%= yield %>
  </main>
  <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script>$('#tag-field').tagsInput();</script>
</body>
</html>

